$white: #FDFFF7;
$dkgray: #50514F;
$backgroundgray: #D7DEDC;
$ltmint: #ACFCD9;
$dkmint: #55D6BE;
$ltyellow: #F9E907;
$dkyellow: #CEVE12;

$font: 'Raleway', sans-serif;
$default-font-size: 20px;

$hundred: 100px;
$fifty: $hundred / 2;
