@import "./_shared.scss";

body, html {
  text-align: center;
  background-color: $backgroundgray;
  font-family: $font;
  color: $dkgray;
  font-size: $default-font-size;
}

.App {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.list {
  grid-column: 2 / 3;
  // grid-row: 2 / 3;
  margin-top: 10%;
  height: 600px;
  width: 500px;
  background-color: $white;
  border-radius: 2px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.date-block {
  // grid-row: 1 / 2;
  background: $ltyellow;
  height: $hundred;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: 100px 1fr;
}

.weekday {
  padding: 40px 0;
  // grid-column: 2;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
}

.month-day-year {
  padding: 27px 0;
  // grid-column: 1;
  display: grid;
  grid-template-columns: repeat(2, 30px);
  grid-template-rows: 100px 1fr;
  grid-gap: 5px;
  padding-left: 55px;
}

.day {
  line-height: 50px;
  grid-column: 1;
  grid-row: 1;
  font-weight: 400;
  font-size: $default-font-size * 3;
}

.month-year-stack {
  grid-column: 2;
  grid-row: 1;
  font-weight: 400;
}

.list-items {
  // grid-row: 3 / 4;
}

input[type=text] {
  // grid-row: 2 / 3;
  width: 80%;
  height: 30px;
  border: none;
  outline: none;
  margin: 15px 0;
  color: $dkgray;
  font-size: $default-font-size;
  border-bottom: 2px solid $ltyellow;
}

input[type=text]::placeholder {
  color: $backgroundgray;
}

input[type=submit] {
  // grid-row: 5 / 6;
  margin-top: 25%;
  background-color: $ltmint;
  color: $dkmint;
  font-weight: 100;
  font-size: $default-font-size * 2;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  outline: none;
  border: none;
}

input[type=submit]:hover {
  transform: scale(1.1);
  transition: transform .2s ease-in-out;
  cursor: pointer;
  background-color: darken($ltmint, 5%);
}

@media (max-width: 940px) {
  .list {
    width: 500px;
  }
}

@media (max-width: 445px) {
  body, html {
    background-color: $white;
  }

  .list {
    grid-column: 1 / 4;
    grid-row: 1 / 10;
    padding: 0px;
    border-radius: 2px;
    width: 100%;
    margin-top: 0;
  }

  .date-block {
    background: $ltyellow;
    height: $hundred;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr;
  }

  .weekday {
    display: none;
  }

  .month-day-year {
    grid-column: 2;
    padding-left: 25%;
  }

  input[type=submit] {
    grid-column: 1;
    grid-row: 7;
  }
}
