body, html {
  text-align: center;
  background-color: #D7DEDC;
  font-family: "Raleway", sans-serif;
  color: #50514F;
  font-size: 20px; }

.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 1fr; }

.list {
  grid-column: 2;
  grid-row: 2;
  height: 600px;
  width: 500px;
  background-color: #FDFFF7;
  border-radius: 2px; }

input {
  min-width: 80%;
  height: 30px;
  border: none;
  outline: none;
  margin: 15px 0;
  color: #50514F;
  font-size: 20px;
  border-bottom: 2px solid #F9E907; }

input::placeholder {
  color: #D7DEDC; }

.date-block {
  background: #F9E907;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 1fr; }

.weekday {
  padding: 40px 0;
  grid-column: 2;
  grid-row: 1;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase; }

.month-day-year {
  padding: 27px 0;
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(2, 30px);
  grid-template-rows: 100px 1fr;
  grid-gap: 5px;
  padding-left: 55px; }

.day {
  line-height: 50px;
  grid-column: 1;
  grid-row: 1;
  font-weight: 400;
  font-size: 60px; }

.month-year-stack {
  grid-column: 2;
  grid-row: 1;
  font-weight: 400; }

.button {
  grid-column: 2;
  grid-row: 5;
  margin-left: 45%;
  margin-top: -32px;
  background-color: #ACFCD9;
  color: #55D6BE;
  font-weight: 100;
  font-size: 75px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 63px;
  display: inline-block; }

.button:hover {
  transform: scale(1.1);
  transition: transform .2s ease-in-out;
  cursor: pointer;
  background-color: #93fbce; }

@media (max-width: 940px) {
  .list {
    width: 500px; } }

@media (max-width: 445px) {
  body, html {
    background-color: #FDFFF7; }
  .list {
    grid-column: 1 / 4;
    grid-row: 1 / 10;
    padding: 0px;
    border-radius: 2px;
    width: 100%; }
  .date-block {
    background: #F9E907;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr; }
  .weekday {
    display: none; }
  .month-day-year {
    grid-column: 2;
    padding-left: 25%; }
  .button {
    grid-column: 2;
    grid-row: 7; } }
