/*
white: #FDFFF7
dk gray: #50514F
background gray: #D7DEDC
lt mint: #ACFCD9
dk mint: #55D6BE
lt yellow: #F9E907
dk yellow: #CEVE12
*/

body, html {
  text-align: center;
  background-color: #D7DEDC;
  font-family: 'Raleway', sans-serif;
  color: #50514F;
}

.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 1fr;
  grid-gap: 10px;
}

.list {
  grid-column: 2;
  grid-row: 2;
  height: 500px;
  background-color: #FDFFF7;
  padding: 20px;
  border-radius: 2px;
}
